[submodule "golang/example"]
	path = golang/example
	url = https://github.com/golang/example.git
[submodule "submodules/vscode-languageserver-node"]
	path = submodules/vscode-languageserver-node
	url = https://github.com/mbana/vscode-languageserver-node.git
	branch = monaco
[submodule "submodules/go-langserver"]
	path = submodules/go-langserver
	url = https://github.com/mbana/go-langserver.git
	branch = websocket-gorilla
[submodule "submodules/jsonrpc2"]
	path = submodules/jsonrpc2
	url = https://github.com/mbana/jsonrpc2.git
	branch = jsonrpc-websocket-gorilla
