[submodule "golang/example"]
	path = golang/example
	url = git@github.com:golang/example.git
[submodule "submodules/vscode-languageserver-node"]
	path = submodules/vscode-languageserver-node
	url = git@github.com:mbana/vscode-languageserver-node.git
	branch = monaco
[submodule "submodules/go-langserver"]
	path = submodules/go-langserver
	url = git@github.com:mbana/go-langserver.git
	branch = websocket-gorilla
